header {
    border-bottom: 1px solid var(--cor-principal);
}

header h1{
    color: var(--cor-secudaria);
}

header ul.navbar-nav{
    background-color: var(--cor-principal);
    border-radius: 10px;
    padding: 5px;
}

header ul.navbar-nav a{
    color: var(--cor-secudaria);
    border-radius: 10px;
}

header .navbar-toggler{
    background: var(--cor-principal);
}

@media (max-width: 768px) {
    header ul.navbar-nav a{
        text-align: center;
    }

    header ul.navbar-nav a:hover{
        background: var(--cor-branco);
    }
}

